
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

body {
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: all 250ms ease-in;
}

/* .fade-exit {
    transform: scale(1);
    opacity: 1;
    z-index: 0
}
.fade-exit.fade-exit-active {
    transition: all 250ms ease-in;
    opacity: 0
    transform: scale(0);
}
.fade-exit.fade-exit-done {
    transform: scale(1);
} */