
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

body {
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: all 250ms ease-in;
}

.fade-exit {
    scale: 1;
}
.fade-exit.fade-exit-active {
    scale: 0;
}